* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Variaveis de Cor */
    --nav-bg-color: rgb(232, 232, 234);
    --nav-text-color: rgb(219, 219, 222);
    --button-bg-color: rgb(43, 43, 47);
    --button-text-color: rgb(232, 232, 234);
    --body-bg-color: rgb(219, 219, 222);
    ;
}

body {
    width: 100vw;
    align-items: center;

    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: var(--body-bg-color);
}

.page {
    width: 100%;
}

/* Star header*/
header #navbar {
    box-sizing: border-box;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: var(--nav-bg-color);
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-bg-color);
}

.navbar__logo {
    width: 12rem;  
}

#logo {
    width: 250px;
    min-width: 200px;
    border-radius: 50%;
}

#btn-mobile {
    display: none;
    font-size: 24px;
    background: #333;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#menu-list {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

#menu-list a,
#item__btn a {
    display: block;
    padding: 0.6rem;
    color: #333;
    transition: 0.2s;
}

#menu-list a:hover {
    padding: 0.5rem;
    border: 1px solid #d4a40a;
    border-radius: .3rem;
    color: #d4a40a;   
}

a.button, 
#btn-back,
input.newsletter.button {
   font-weight: bold;
   margin: 0;
   border-radius: 0.3rem;
   text-transform: uppercase;
   align-items: center;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: .3rem;

    background: var(--button-bg-color);
    color: var(--button-text-color);
}

.button a {
    padding: 0.6rem 1.6rem;
    color: var(--button-text-color);
    transition: 0.2s;
}

.button:hover {
    color: #d4a40a;
    border: 1px solid #d4a40a;
    background-color: #686464;
    padding: 0.5rem; /* add 280624 09h46 remove 1.6rem */
}

a {
    text-decoration: none;
}

#menu__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* gap: 0.5rem; ** add 280624 09h41*/
}

#menu__btn a,
#item__btn a {
    color: var(--button-text-color);
    transition: 0.2s;
}

/* End header */
/*-----------------------------------------------*/
/* Star home */
#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    background-color: #E5E0E4;
}

.cards__home {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.elements__text {
    width: 100%;
    text-align: center;   
}

.card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   

    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.8em;
    font-weight: 700;
    color: #333;
}

.card__title .top {
    font-size: 3.8rem;
    text-transform: uppercase;
    position: relative;
    top: 0.9em;
}

.card__title .ampersand {
    font-size: 5.8rem;
    margin-left: -1rem;
}

.card__title .bottom {
    font-size: 3.8rem;
    margin-left: 0.5rem;
    text-transform: uppercase;   
}

.card__text1 {
    padding: 1.5rem;   
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

.card__text2 {
    padding: 2rem;   
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
}

.car__newsletter {
    font-weight: bold;
    padding: 0.6rem 1.6rem;    
    border-radius: 0.3rem;
    text-transform: uppercase;
}

.newsletter {
    padding: 0.6rem 1.6rem;
    border-radius: 0.3rem;
}

.card__home__figure {
    width: 100%;
    gap: 3px;
}

img {
    width: auto;   
}

.img__home {
    border-radius: 0.5rem;
    opacity: 0.7;
}

.img__about {
    border-radius: 0.5rem;
}

/* End home */

/*-----------------------------------------------*/

/* Start about */
#about {
    gap: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    background-color: #ffffff;
}

.card__figure___about img {
    width: 100%;
    gap: 3px;
}

.card__figure___about .img__about {
    width: 100%;
    gap: 3px;
}

.card1__text__about {
    gap: 3px;
    text-align: center;

    padding: 2rem;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card1__text__about p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* End header */

/*-----------------------------------------------*/

/* Start programs */
#programs {
    gap: 3px;
}

/* End header */

/*-----------------------------------------------*/

/* Start testimonials */

#testimonials {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    gap: 3px;
}

.testimonials_cards {
    font-size: 18px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials_cards h2,
.card__schedules h2,
.card1__text__about h2,
.footer__map h2 {
    margin: 0 auto; /*add em 280624 as 09h20 */
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    /* Total height of the viewing window */
}

.photo__profiles {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

span.testimonials__name {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__card1 {
    padding: 1.5rem;
    font-size: 18px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: 400;
    flex-grow: 1;
}

.testimonials__card1 p {
    margin-top: 1.2rem;
}

.testimonials__card2 {
    padding: 1rem;
    font-size: 18px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: 400;
    flex-grow: 1;
}

.testimonials__card2 p {
    margin-top: 1.2rem;
}

.testimonials__card3 {
    padding: 1rem;
    font-size: 18px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: 400;
    flex-grow: 1;
}

.testimonials__card3 p {
    margin-top: 1.2rem;
}

.card__schedules {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    font-size: 18px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card__schedules h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #d4a40a;
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    font-weight: bold;
}

.cards__contacts {
    margin-bottom: 3.5rem;
    font-size: 16px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: left;
}

/* End testimonials */

/*-----------------------------------------------*/

/* Start footer */
footer {
    margin-top: 1rem;
    margin-top: 1rem;
    gap: 3px;
}

.footer__content {
    gap: 3px;
}

.back__btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.text__social__center {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
}

.social__links {
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    gap: .5rem;
}

.facebook,
.instagram,
.tik__tok,
.x {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__map {
    font-size: 16px;
    /* gap: 3px; */ /*add em 280624 as 09h22 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /*add em 280624 as 09h23 */
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

.footer__map__contact_phone,
.footer__map__contact_email {
    font-size: 18px;
    /* gap: 3px; ** add em 280624 as 09h26 ***/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

/* .footer__map__contact_email { ** add em 280624 as 09h26 **
    margin-bottom: 1.5rem;
    font-size: 18px;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
} */

.footer__map h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--button-bg-color);
}

.footer__credits {
    font-size: 16px;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

.footer__credits p {
    margin-top: 1rem;
    padding-left: 0.5rem;
    background-color: var(--button-bg-color);
}

.footer__map__contact__email {
    margin-bottom: 0.6rem;
}

/* End footer */

/*-----------------------------------------------*/

/*  Responsive for Mobile First - @media queries */

/* Dispositivos X-Small (telefones retrato, menos de 576px)
   Nenhuma consulta de mídia para `xs` já que este é o padrão no Bootstrap

    *  320px - 480px = mobile -  Em mobile first não precisa de MQ 
    *  480px - 768px = tablet 
    *  768px - 1024px = telas menores, laptops
    *  1024px - 1200px = desktop
    *  1200 e + = telas maiores, tvs
    


/* Dispositivos Small pequenos (telefones em paisagem, 576px e superiores)*/
@media (min-width: 320px) and (max-width: 768px) {

    /* header*/

    a.button {
        font-size: 14px;       
    }

    .button {
        padding: 0.5rem 1rem;
        background: none;
        color: var(--button-text-color);
    }

    /* START: setting menu mobile */
    .navbar__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: var(--nav-bg-color);
    }

    .menu__sandwich {
        display: block;
    }

    .menu__list.show {
        display: flex;
    }

    #menu-list {
        display: block;
        position: absolute;
        width: 100%;
        top: 190px;
        right: 0px;
        background: #d4a40a;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #navbar-menu.active #menu-list {
        height: calc(100vh - 190px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu-list a {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        position: relative;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        align-items: center;
    }

    #sandwich {
        font-size: 28px;
        padding: 10px;
        color: #333;
    }  

    /* END: setting menu mobile */

    .cards__home {
        flex-wrap: wrap;
    }

    .card__title {
        font-size: 1.8rem;
    }    

    .card__text1 {
        padding: 1rem;
        font-size: 16px;
        font-weight: 700;
        text-align: justify;
    }

    .card__text2 {
        padding: 1rem;
        font-size: 14px;
    }

    .slider__content {
       padding-bottom: 20px;
       background: #333;
    }

    .navegation__manual, 
    .navegation__auto {        
        margin-top: 42.5%;         
    }

    .manual__btn {
        padding: 3px 6px;
    }

    .testimonials_cards h2,
    .card__schedules h2,
    .card1__text__about h2,
    .footer__map h2 {
        margin-bottom: 1rem;
        font-size: 16px;
        font-weight: 700;
    }

    .testimonials__name {
        margin-top: 8px;
    }

    .card1__text__about p {
        font-size: 14px;
    }

    .cards__contacts {
        margin-left: 3.5rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 1.5rem;
    }

    #btn-back {
        background: var(--button-bg-color);
    }

    #contact .card__contact__first {
        align-items: center;
    }

    .footer__credits {
        font-size: 12px;
    }

}

/* Dispositivos Medium médios (tablets, 768px e superiores)*/
@media (min-width: 768px) and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    #navbar-menu {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu-list {
        flex-wrap: wrap;
    }

    a.button {
        font-size: 14px;
    }

    .button a {
        background: none;
        color: var(--button-text-color);
        padding: 0.5rem 1rem;

    }

    #menu__btn,
    #item__btn {
        margin: 1em 0;
    }

    .slider__content {
        padding-bottom: 25px;
        background: #232329;
     }

    .navgation__manual, 
    .navegation__auto {
        margin-top: 43.5%;
    }

    .manual__btn {
        padding: 2px 4px;
    }

    .card__title {
        font-size: 1.9em;
    }

    .card__text1 {
        padding: 1rem;
        font-size: 16px;
        font-weight: 700;
        text-align: justify;
    }

    .card__text2 {
        padding: 1rem;
        font-size: 14px;
    }

    .testimonials_cards h2,
    .card__schedules h2,
    .card1__text__about h2,
    .footer__map h2 {
        margin-bottom: 1rem;
        font-size: 16px;
        font-weight: 700;
    }
      
    .testimonials__name {
        margin-top: 8px;
    }

    .card1__text__about p {
        font-size: 14px;
    }

    .back__btn .button a {
        background: var(--button-bg-color);
    }

}

/* Dispositivos Large grandes (desktops, 992px e superiores)*/
@media (min-width: 999px) and (max-width: 1441px) {}

/* @media (min-width: 1441px) {

   
    body {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        Centraliza horizontalmente
    }

    .page {
        position: relative;
        left: 10vw;
        right: 20vw;
    }

    .navgation__manual {
        margin-top: 39.5%;
    }

} */